<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">

      Ready to play?
   
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 text-center">
    <form action="/insert_round" method="post">
      
      
      <div>
        <label for="round_length">
          How many exercises would you like to do?
        </label>

        <input type="text" id="round_length" name="query_round_length" autofocus>
      </div>
      

      <button class="btn btn-primary btn-lg">
        Go!
      </button>
    </form>
    
    <div>

  </div>
</div>




<div>
  <div>
    <h1>
      List of all rounds
    </h1>
  </div>
</div>





<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Attempts count
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_rounds.each do |a_round| %>
      <tr>
        <td>
          <%= a_round.id %>
        </td>

        <td>
          <%= a_round.user_id %>
        </td>

        <td>
          <%= a_round.attempts_count %>
        </td>

        <td>
          <%= time_ago_in_words(a_round.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_round.updated_at) %> ago
        </td>

        <td>
          <a href="/rounds/<%= a_round.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
