
<div class="container">
  <div class="row prompt1">
    <div class="col-md-12 text-center">

      You've completed 
      <%= @current_user.rounds.count %>
      rounds!

    </div>
  </div>
  
  <div class="row">
    <div class="col-md-12 text-center stats">
<table border="1" class="table table-striped stats">
      <tr>
        <th>
          Date
        </th>

        <th>
          Attempts
        </th>

        <th>
          Correct
        </th>

        <th>
          Average Difficulty
        </th>

        <th>
          Accuracy
        </th>

        <th>
          Total Time for Round
        </th>

        <th>
          Average Time Per Exercise
        </th>

        
      </tr>

      <% @list_of_rounds.each do |a_round| %>
      <tr>
        <td>
          <%= time_ago_in_words(a_round.created_at) %> ago
        </td>

        <td>
          <%= num_of_attempts = a_round.attempts_count %>
        </td>

        <td>
          <%= a_round.attempts.where( :correct => true ).count %>
        </td>

        <td>
          <%= Attempt.where(:user => @current_user, :round => a_round.id ).joins(:exercise).average(:difficulty) %>

         <%= a_round.exercises.average(:difficulty) %>
        </td>

        <td>
          <%= ((a_round.attempts.average(:correct) * 100).round.to_s + "%" ) %>
        </td>

        <td>
          <% start_to_finish = a_round.attempts.last.finished_at - a_round.attempts.first.started_at %>
          <%= start_to_finish.round(2).to_s + " seconds" %>
        </td>

        <td>
          <%= (start_to_finish / num_of_attempts).round(2).to_s + " seconds"  %>
        </td>

      </tr>
      <% end %>
    </table>
    </div>
  </div>



<h1> 
</h1>



<div>
  <div>
    
  </div>
</div>
